extends ../layout
block main
  include ../modules/slider
  section#top-service
    each service in ['Truyền hình KTS','Internet cáp quang','smart motor']
      div.service-detail
        h2.service-title=service